.venv/
__pycache__
logs/
models/

# Additional files from 
README
SepsisExp.tar.gz

# Large data files
sepsisexp_timeseries_partition-A.tsv
sepsisexp_timeseries_partition-B.tsv
sepsisexp_timeseries_partition-C.tsv
sepsisexp_timeseries_partition-D.tsv
train.dat
test.dat
dev.dat
all_mixed.dat
dev_ids.dat
dev_ids_s0.dat
test_ids.dat
test_ds.dat
test_ids_s0.dat